/*
Theme Name: IMNews
Theme URI: https://vaultthemes.com/wordpress-themes/imnews/
Author: VaultThemes
Author URI: https://vaultthemes.com
Description: IMNews is a professional looking, high quality WordPress theme for news or blog websites. It is mobile responsive so it looks amazingly awesome in mobiles and tablets. Colors etc can be easily changed from Customize section of WordPress admin panel. Step-by-step documentation and dummy data is available here: https://vaultthemes.com/documentation/imnews/      IMNewsPro is the advanced and paid version of the theme which comes with very interesting and powerful SiteOrigin page builder widgets. You can check the complete details of IMNewsPro theme here: https://vaultthemes.com/wordpress-themes/imnews-pro/
Version: 1.12
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.en.html
Text Domain: imnews
Tags: two-columns, right-sidebar, custom-colors, custom-menu, custom-logo, featured-images, footer-widgets, theme-options, threaded-comments, translation-ready, blog, news
*/
.footer-copyrights {
    color: white;
    margin: 0 0 0;
    text-align: center;
}
footer.widget-footer ul{
	margin: 0px;
	padding: 0px;
}
footer.widget-footer ul li{
	list-style-type: none;
	padding: 4px 0;
	margin: 0px;
}
footer.widget-footer ul li a{
	line-height: 24px;
	font-weight: 400;
	color: #ccc;
	font-size: 14px;
}
footer.widget-footer .widget-footer-row{
	padding-bottom: 0px;
}
header#top a.navbar-brand , header#top p.ttl_tagline{
	display: none;
}
.col-lg-2.ads, .col-lg-2.adsright {
    position: fixed;
    left: 0;
    top: 136px;
    width: 100px;
    padding: 0;
    transition: all 0.5s ease-in-out;
}
.col-lg-2.ads.stickyads , .col-lg-2.adsright.stickyads{
	top: 0px;
	z-index: 999;
}
.col-lg-2.adsright{
	right: 0px;
	left: inherit;
}

h5.sidenews-post-heading {
    font-size: 12px;
    color: #222;
    font-weight: 600;
}
h5.sidenews-post-heading a{
	 color: #222;
    font-weight: 600;
}
.paddl0{
	padding-left: 0px;
}
.navbar-header img {
    margin: 4px 0 5px;
}